# venv
venv/
.venv/

# wandb
wandb/
artifacts/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.$py.class


# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Jupiter Notebook

.ipynb_checkpoints/

# misc
.DS_Store
*.mp4
outputs/
